# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code local settings
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Raw and processed datasets
data/*.csv

# Kaggle submissions
submissions/*.csv